# Enable runtime assertions
-s ASSERTIONS

# Emit a factory function (no auto-run)
-s MODULARIZE

# Allow the memory to grow at runtime
-s ALLOW_MEMORY_GROWTH

# Emit an ES6 module wrapper
-s EXPORT_ES6
