# Target-specific defaults
$include(if-equal _TARGET_CPU "x64") ../target/linux-x64.cfg
$include(if-equal _TARGET_CPU "ia32sse2") ../target/linux-ia32sse2.cfg
$include(if-equal _TARGET_CPU "arm64") ../target/linux-arm64.cfg
$include(if-equal _TARGET_CPU "arm32vfp3") ../target/linux-arm32vfp3.cfg
