# Set minimum supported macOS version
-mmacosx-version-min=10.9

# Target-specific defaults
$include(if-equal _TARGET_CPU "x64") target/macos-x64.cfg
$include(if-equal _TARGET_CPU "arm64") target/macos-arm64.cfg
