# Assume all headers are C headers
-x
c

# We want to have C11 features available but also GNU extensions
-std=gnu11

# Unless otherwise specified, all symbols are hidden by default
-fvisibility=hidden

# Add default error flags
$include error.cfg

# OS-specific defaults
$include(if-equal _TARGET_OS "linux") os/linux.cfg
$include(if-equal _TARGET_OS "macos") os/macos.cfg
$include(if-equal _TARGET_OS "windows") os/windows.cfg
$include(if-equal _TARGET_OS "ios") os/ios.cfg
$include(if-equal _TARGET_OS "tvos") os/tvos.cfg
$include(if-equal _TARGET_OS "ipados") os/ipados.cfg
$include(if-equal _TARGET_OS "watchos") os/watchos.cfg
$include(if-equal _TARGET_OS "freebsd") os/freebsd.cfg
$include(if-equal _TARGET_OS "netbsd") os/netbsd.cfg
$include(if-equal _TARGET_OS "openbsd") os/openbsd.cfg
$include(if-equal _TARGET_OS "emscripten") os/emscripten.cfg

# OS independent CPU-specific defaults
$include(if-equal _TARGET_CPU "arm64") cpu/arm64.cfg
$include(if-equal _TARGET_CPU "arm32vfp3") cpu/arm32vfp3.cfg
$include(if-equal _TARGET_CPU "ia32sse2") cpu/ia32sse2.cfg
$include(if-equal _TARGET_CPU "x64") cpu/x64.cfg
$include(if-equal _TARGET_CPU "wasm32") cpu/wasm32.cfg
$include(if-equal _TARGET_CPU "asmjs") cpu/asmjs.cfg
