# Assume all headers are C headers
-x
c

# We want to have C11 features available but also GNU extensions
-std=gnu11

# Unless otherwise specified, all symbols are hidden by default
-fvisibility=hidden

# Add default error flags
$include error.cfg
