CompileFlags:
  Add:
    # Assume DEVELOPING, TESTING, DEBUGGING, and PROFILING by default.
    # Compile scripts can later on override that.
    - -DDEVELOPING
    - -DTESTING
    - -DDEBUGGING
    - -DPROFILING

    # ------ MARK: DEFAULT FLAGS ------
    #
    # Do not remove marker above!
    # Settings below are managed by update script.
    - -x
    - c
    - -std=gnu11
    - -Wall
    - -Wextra
    - -Werror
    - -Wnonnull
    - -Wnull-dereference
    - -Wnullability-completeness
    - -Wnullable-to-nonnull-conversion
    - -Wflag-enum
    - -Wno-missing-field-initializers
    - -Wno-error=unused-function
    - -Wno-error=unused-variable
    - -Wno-error=unused-parameter

---
If:
  PathMatch: (^|.*/)targets/ccore\.lib/.*
CompileFlags:
  Add:
    - -I
    - ${workspaceRoot}/targets/ccore.lib/inc
