CompileFlags:
  Add:
    # Assume DEVELOPING, TESTING, DEBUGGING, PROFILING, and DEPLOYING
    # by default. Compile scripts can later on override that.
    - -DDEVELOPING
    - -DTESTING
    - -DDEBUGGING
    - -DPROFILING
    - -DDEPLOYING

    # ------ MARK: DEFAULT FLAGS ------
    #
    # Do not remove marker above!
    # Settings below are managed by update script.
    - -x
    - c
    - -std=gnu11
    - -Wall
    - -Wextra
    - -Werror
    - -Wnonnull
    - -Wnull-dereference
    - -Wnullability-completeness
    - -Wnullable-to-nonnull-conversion
    - -Wflag-enum
    - -Wno-missing-field-initializers
    - -Wno-error=unused-function
    - -Wno-error=unused-variable
    - -Wno-error=unused-parameter
