# Always include global defaults
$include ../_common/_default.cfg

# We want develop code to be active
-DDEVELOPING

# We want some debug symbols (enough to see stack traces)
-gline-tables-only

# We want no optimization (fast builds)
-O0
