# Always include global defaults
$include ../_common/_default.cfg

# Enable deploy post-processing (linker stripping, etc.)
$set DEPLOY_PROCESSING

# We want some debug symbols (enough to see stack traces).
# Those will get stripped later on but we need to preserve them to be able
# to debug crashes in the wild.
-gline-tables-only

# We want good optimization
-O2

# We want dead-code stripping in the linker
-ffunction-sections
-fdata-sections
