# Always include global defaults
$include ../_common/_default.cfg

# Enable deploy post-processing (linker stripping, etc.)
$set DEPLOY_PROCESSING

# We want maximum debug symbols
-g3

# We want good optimization
-O2

# We want dead-code stripping in the linker
-ffunction-sections
-fdata-sections
