# Always include test defaults
$include _defaults/test/_default.cfg

# Include some sanitizers by default
$include _defaults/test/sanitizer_ub.cfg
$include _defaults/test/sanitizer_address_opt.cfg
$include(if-equal _TARGET_OS emscripten) _defaults/test/sanitizer_emscripten.cfg

# If there is a default user include, include this as well
$include? ../_inc/_default.cfg
